<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="RegisterApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SgundoT_DI"
        tools:targetApi="31">
        <activity
            android:name=".data.views.RegisterActivity"
            android:exported="false"
            android:label="title_activity_login" />
        <activity
            android:name=".data.views.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.views.DashboardActivity"
            android:exported="false"/>
        <activity
            android:name=".data.views.DetailActivity"
            android:exported="false"/>
        <activity android:name=".data.views.FavoritesActivity"/>
    </application>

</manifest>